<div>
  <div class="submit-form">
    <div *ngIf="!submitted">

<form #driverForm="ngForm">

  
    <div class="form-group">
      <label for="firstname">firstname</label>
      <input
        class="form-control"
        id="firstname"
        required
        [(ngModel)]="drivers.firstname"
        name="firstname"
        [ngClass]="{'border-red': driverForm.submitted&&driverForm['controls'].firstname.errors?.required}"

      />
      <div *ngIf="driverForm['controls'].firstname.touched&&driverForm['controls'].firstname.errors?.required" class="text-danger">
        First Name is required
       </div>
    </div>
    <div class="form-group">
      <label for="lastname">lastname</label>
      <input
        type="text"
        class="form-control"
        id="lastname"
        required
        [(ngModel)]="drivers.lastname"
        name="lastname"
        [ngClass]="{'border-red': driverForm.submitted&&driverForm['controls'].lastname.errors?.required}"

      />
      <div *ngIf="driverForm['controls'].lastname.touched&&driverForm['controls'].lastname.errors?.required" class="text-danger">
        Last Name is required
       </div>
    </div>
    <div class="form-group">
      <label for="description">Email</label>
      <input
        class="form-control"
        id="email"
        required
        [(ngModel)]="drivers.email"
        name="email"
        [ngClass]="{'border-red': driverForm.submitted&&driverForm['controls'].email.errors?.required}"

      />
      <div *ngIf="driverForm['controls'].email.touched&&driverForm['controls'].email.errors?.required" class="text-danger">
        Email is required
       </div>
    </div>
    <div class="form-group">
      <label for="phone">phone</label>
      <input
        class="form-control"
        id="description"
        required
        [(ngModel)]="drivers.phone"
        name="phone"
        [ngClass]="{'border-red': driverForm.submitted&&driverForm['controls'].phone.errors?.required}"

      />
      <div *ngIf="driverForm['controls'].phone.touched&&driverForm['controls'].phone.errors?.required" class="text-danger">
        Phone is required
       </div>
    </div>

  <button *ngIf="IsNew" type="submit" (click)="savedrivers()" class="btn btn-success">Submit</button>
  <button *ngIf="!IsNew" type="submit" (click)="updatedrivers()" class="btn btn-success">Update</button>

</form>
     

    </div>
  </div>
</div>
